@import url(https://fonts.googleapis.com/css2?family=Girassol&display=swap);

$primary: #e26d5a;
$color2: #172a3a;
$color3: #c30000;
$link: #c30000;
$light: #f6e8ea;
$dark: #262626;

$font-stack-themed: 'Girassol', 'Roboto', sans-serif;

// common styles to be inherited by most of apps styles...
%common {
  font-family: $font-stack-themed;
}

.App {
  background-color: $primary;
}

.CardsTable {
  border-radius: 20vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 5vh 10vw;
}

%Card {
  @extend %common;
  align-items: center;
  background-color: $light;
  border-radius: 8px;
  display: flex;
  filter: drop-shadow(0.2vw 0.2vw 0.2vw $dark);
  flex-direction: column;
  height: 11.2vw;
  justify-content: space-between;
  margin: 1vw;
  padding: 0.5vw;
  user-select: none;
  width: 8vw;
}

.redSuit {
  @extend %Card;
  border: 1px solid $color3;
  color: $color3;
}

.blackSuit {
  @extend %Card;
  border: 1px solid $dark;
  color: $dark;
}

%suit {
  font-size: 1.5vw;
}

.topSuit {
  @extend %suit;
  align-self: flex-end;
}

.bottomSuit {
  @extend %suit;
  align-self: flex-start;
}

.face {
  font-size: 5vw;
}
