
.CardsTable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5vh 10vw;
  border-radius: 20vw;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 0.5vw;
  margin: 1vw;
  width: 8vw;
  height: 11.2vw;
  background-color: antiquewhite;
}

.Card-topSuit {
  align-self: flex-end;
}

.Card-bottomSuit {
  align-self: flex-start;
}

.Card-face {
  font-size: 5vw;
}
